*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches
/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
app/release
.idea/assetWizardSettings.xml
app/.cxx
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/misc.xml
